@import '@/assets/reset.scss';

.wrap {
  &.white {
    .menu {
      &-button {
        &:before,
        &:after,
        div {
          background: #000000;
        }
      }
    }
  }
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: brightness(0.5);

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 80px;
  z-index: 10;
  color: #ffffff;

  .name {
    display: none;
    // visibility: hidden;
    transition: 0.4s;

    a {
      position: absolute;
      font-size: 24px;
      color: #ffffff;
      text-transform: uppercase;
      transform: rotate(90deg);
      top: 100px;
      left: -28px;
      z-index: 101;
    }
  }

  .menu {
    &-button {
      position: absolute;
      right: 30px;
      z-index: 101;
      width: 30px;

      &:before,
      &:after,
      div {
        background: #ffffff;
        content: '';
        display: block;
        height: 2px;
        border-radius: 3px;
        margin: 7px 0;
        transition: 0.4s;
      }
    }

    &-page {
      // display: none;
      visibility: hidden;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      color: #ffffff;
      transition: 0.4s;
      opacity: 0;
      background-color: #0f0f10 !important;

      .info,
      .nav {
        width: 50%;
      }

      .info {
        .profile {
          width: 100px;
          height: 100px;

          img {
            width: 100%;
          }
        }
      }

      .nav {
      }
    }

    &-detail {
      position: relative;
      display: flex;
      justify-content: center;
      max-width: 1200px;
      top: 50%;
      transform: translateY(-50%);
      padding: 0 200px;
      margin: auto;
      font-size: 0;

      .nav {
        ul {
          display: flex;
          align-items: flex-end;
          flex-flow: column wrap;
          gap: 36px;

          li {
            line-height: initial;

            a {
              font-size: 48px;
              color: #ffffff;
              font-weight: bold;
              letter-spacing: 2px;
            }
          }
        }
      }
    }
  }

  &.open {
    .name {
      display: block;
      // visibility: visible;
    }

    .menu {
      &-button {
        &:before {
          background: #ffffff !important;
          transform: translateY(9px) rotate(135deg);
        }

        &:after {
          background: #ffffff !important;
          transform: translateY(-9px) rotate(-135deg);
        }

        div {
          transform: scale(0);
        }
      }

      &-page {
        // display: block;
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.container {
  position: relative;
  height: 100vh;
}

.main {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  text-align: center;

  .title {
    top: 50%;
    transform: translateY(-50%);
    font-size: 60px;
    color: #ffffff;
  }
}

.work {
  max-width: 1000px;
  padding: 200px 0 0;
  margin: 0 auto;
}

.title {
  position: relative;
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 60px;
}

.list-box {
}

.grid-list {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    li {
      position: relative;

      > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      a {
        width: 100%;
        height: 100%;
      }
    }
  }
}
