* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'NEXONFootballGothicLA1', 'Roboto', 'Noto Sans KR', sans-serif;
}

/* reset */
html {
  //   font-size: 62.5%; /* Sets up the Base 10 stuff */
  background-color: #fff;
  overflow-y: scroll;
  line-height: 1.15;
  scroll-behavior: smooth;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  line-height: 1.15;
}
fieldset,
img {
  border: 0 none;
}
dl,
ul,
ol,
menu,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
input,
select,
textarea,
button {
  vertical-align: middle;
}
button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}
body,
th,
td,
input,
select,
textarea,
button {
  font-weight: 400;
  color: #222;
  outline: none;
} /* color값은 디자인가이드에 맞게사용 */
a {
  display: block;
  color: #333;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
input,
button,
a {
  &:focus,
  &:focus-visible {
    outline-width: 1px;
    outline-style: auto;
    outline-color: -webkit-focus-ring-color;
  }
}
i {
  font-style: normal;
}
a:active,
a:hover {
  text-decoration: none;
}
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
legend {
  overflow: hidden;
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-indent: -9999px;
  white-space: nowrap;
  line-height: 0;
}

img {
  vertical-align: top;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  /* image-rendering: pixelated; */
}

.clear {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
}

.blind {
  overflow: hidden;
  border: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}
